<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png" alt="hello image">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
        {% endfor %}
        <input type="text" name="name_input" id="name" placeholder="your name here">
        <br>
        <input type="submit" value="greet" id="greet">
    </form>
</body>

</html>